# FOLDERS ======================================================================

node_modules/
out/
.claude
.ignore/

# FILES ========================================================================

CLAUDE.md
