# FOLDERS ======================================================================

node_modules/
out/
.claude
.ignore/
.fingerprint/
target/
binaries/
.vscode/

# FILES ========================================================================

CLAUDE.md
*.vsix
pnpm-lock.yaml
Cargo.lock

# Turborepo
.turbo
