name: 'Main Branch & Release'

on:
  push:
    branches:
      - main
    tags:
      - 'v*'

permissions:
  pull-requests: write
  contents: write
  id-token: write

concurrency:
  group: main-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  push_to_main_ci:
    name: 'Main CI'
    uses: ./.github/workflows/callable-ci.yml
    with:
      run_lint: true
      run_build: true
    secrets:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}

  release:
    name: 'Release'
    needs: [push_to_main_ci]
    runs-on: ubuntu-latest
    env:
      HUSKY: 0
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - uses: ./.github/actions/setup-and-install

      - name: Create Release Pull Request or Publish
        id: changesets
        uses: changesets/action@v1
        with:
          publish: pnpm release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          AZURE_VSCODE_PAT: ${{ secrets.AZURE_VSCODE_PAT }}
